.login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
}

.login-container{
    background-color: #FAFAFA;
    border: 1px solid #E0E0E0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.01);
    border-radius: 8px;
    margin-top: 20px;
}

::ng-deep .ant-card-head{
  border-bottom: 1px solid #e0e0e0;
}