<div class="table-container">
    <div class="table-title">
      <h3>{{title | capitalize}} ToDo's</h3>
      <button nz-button nzType="primary" (click)="showModal('add',-1)" class="add-btn">Add</button>
    </div>
    <app-todo-form [isShowModal]="isShowModal" [option]="option" [todoId]="todoId" [type]="type"
      (showModalChange)="handleShowModal($event)"></app-todo-form>

    <nz-table #nzTable nzTableLayout="fixed" 
      [nzData]="displayToDoList"
      [nzPageIndex]="currentPage"
      [nzPageSize]="pageSize"
      [nzTotal]="total"
      [nzFrontPagination]="false"
      nzShowSizeChanger
      nzShowPagination
      [nzPageSizeOptions]="[10, 20, 30, 50]" 
      (nzPageIndexChange)="onPageIndexChange($event)"
      (nzPageSizeChange)="onPageSizeChange($event)"
      [nzScroll]="pageSize>10 ? { x: null, y: '510px' } : { x: null, y: null }"
    >
        <thead>
          <tr>
            <th nzWidth="50px" nzColumnKey="sno">#</th>
            <th nzCustomFilter nzColumnKey="task">
              Task
              <nz-filter-trigger [(nzVisible)]="showSearch" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="search">
                <span nz-icon nzType="search"></span>
              </nz-filter-trigger>
            </th>
            <th nzWidth="380px" nzColumnKey="description">Description</th>
            <th nzColumnKey="category" [nzFilters]="categories" (nzFilterChange)="handleCategoryFilterChange($event)">Category</th>
            <th nzCustomFilter nzWidth="170px" nzColumnKey="dueDate" [nzSortOrder]="dateSortOrder" (nzSortOrderChange)="onDateSortChange($event)">
              Due Date
              <nz-filter-trigger [(nzVisible)]="showDateFilter" [nzActive]="!!date" [nzDropdownMenu]="datefilter">
                <span nz-icon nzType="calendar"></span>
              </nz-filter-trigger>
            </th>
            <th nzWidth="150px" nzColumnKey="priority" [nzFilters]="priority" (nzFilterChange)="handlePriorityFilterChange($event)">Priority</th>
            <th nzWidth="150px" nzColumnKey="status" [nzFilters]="status" (nzFilterChange)="handleStatusFilterChange($event)">Status</th>
            <th nzWidth="100px">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of nzTable.data; let i = index" class="editable-row">
            <ng-container>
              <td>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
              <td>{{ data.task }}</td>
              <td class="ellipsis" [nzTooltipTitle]="data.description" [nzTooltipPlacement]="['topLeft', 'leftTop']" nz-tooltip>{{ data.description }}</td>
              <td>{{ data.category }}</td>
              <td>{{ data.due_date | date:'dd/MM/yyy'}}</td>
              <td>
                <nz-tag [nzColor]="'red'" *ngIf="data.priority==='High'" class="prioriy-tag-width">{{ data.priority }}</nz-tag> 
                <nz-tag [nzColor]="'orange'" *ngIf="data.priority==='Medium'" class="prioriy-tag-width">{{ data.priority }}</nz-tag> 
                <nz-tag [nzColor]="'green'" *ngIf="data.priority==='Low'" class="prioriy-tag-width">{{ data.priority }}</nz-tag> 
              </td>
              <td>
                <div class="editable-cell" [hidden]="editId === data.id" (click)="onSelectOpen(data.id, data.status)">
                  <nz-tag [nzColor]="'red'" *ngIf="data.status==='Not Started'" class="status-tag-width">{{ data.status }}</nz-tag> 
                  <nz-tag [nzColor]="'orange'" *ngIf="data.status==='In Progress'" class="status-tag-width">{{ data.status }}</nz-tag> 
                  <nz-tag [nzColor]="'green'" *ngIf="data.status==='Completed'" class="status-tag-width">{{ data.status }}</nz-tag> 
                </div>
                <nz-select [hidden]="editId !== data.id" [(ngModel)]="tempStatus" (ngModelChange)="onStatusChange($event)" (nzOpenChange)="onSelectClose($event)">
                  <nz-option *ngFor="let item of status" [nzLabel]="item.text" [nzValue]="item.value"></nz-option>
                </nz-select>
              </td>
              <td class="action-icons">
                <a (click)="showModal('update',data.id)"><span nz-icon nzType="edit" nzTheme="outline"></span></a>
                <a nz-popconfirm nzPopconfirmTitle="Are you sure to delete?" (nzOnConfirm)="deleteDataInStore(data.id)"><span nz-icon nzType="delete" nzTheme="outline"></span></a>
              </td>
            </ng-container>
          </tr>
        </tbody>
      </nz-table>

      <nz-dropdown-menu #search="nzDropdownMenu">
        <div class="ant-table-filter-dropdown">
          <div class="search-box">
            <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
            <button nz-button nzSize="small" nzType="primary" (click)="this.applyFilters(); this.showSearch = false;" class="search-button">Search</button>
            <button nz-button nzSize="small" (click)="resetSearch()">Reset</button>
          </div>
        </div>
      </nz-dropdown-menu>

      <nz-dropdown-menu #datefilter="nzDropdownMenu">
        <div class="ant-table-filter-dropdown">
          <div class="search-box">
            <nz-date-picker nzFormat="dd/MM/yyyy" [(ngModel)]="date"></nz-date-picker>
            <button nz-button nzSize="small" nzType="primary" (click)="this.applyFilters(); this.showDateFilter = false; " class="search-button">OK</button>
            <button nz-button nzSize="small" (click)="resetDateFilter()">Reset</button>
          </div>
        </div>
      </nz-dropdown-menu>
</div>